<h1>Top Five Favorite Kittens.</h1>


<p>1.</p>
<img class="img-responsive" src="<%= image_path "Kitten 1.jpeg" %>"/>


<p>2.</p>
<img class="img-responsive" src="<%= image_path "Kitten 2.jpg" %>"/>

<p>3.</p>
<img class="img-responsive" src="<%= image_path "Kitten 3.jpg" %>"/>

<p>4.</p>
<img class="img-responsive" src="<%= image_path "Kitten 4.jpg" %>"/>

<p>5.</p>
<img class="img-responsive" src="<%= image_path "Kitten 5.jpg" %>"/>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Kitten 1</th>
                <th>Kitten 2</th>
                <th>Kitten 3</th>
                <th>Kitten 4</th>
                <th>Kitten 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Like</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dislike</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>

 
